/* Add application styles & imports to this file! */
@import '~bootstrap/scss/functions';
$spacer: 4px;
$spacers: (
  0: 0,
  1: $spacer * 0.25,
  2: $spacer * 0.5,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,
  xs: $spacer * 1,
  s: $spacer * 2,
  m: $spacer * 3,
  l: $spacer * 4,
  xl: $spacer * 5,
) !default;

$theme-colors: (
  'primary': #0e7cfd,
  'danger': #ff4136,
  'sisa': #101010,
);

@import '~bootstrap/scss/variables';

body {
  overflow-x: hidden;
  font-size: 14px;
}

$border-radius: 0.25rem;
$enable-rounded: true;
$enable-shadows: true;
$enable-gradients: true;
$enable-transitions: true;

$blue: #007bff !default;
$indigo: #6610f2 !default;
$purple: #6f42c1 !default;
$pink: #e83e8c !default;
$red: #dc3545 !default;
$orange: #fd7e14 !default;
$yellow: #ffc107 !default;
$green: #28a745 !default;
$teal: #20c997 !default;
$cyan: #17a2b8 !default;

$primary: $blue !default;
$secondary: $gray-600 !default;
$success: $green !default;
$info: $cyan !default;
$warning: $yellow !default;
$danger: $red !default;
$light: $gray-100 !default;
$dark: $gray-800 !default;

$font-size-base: 1rem;
$font-weight-base: $font-weight-normal !default;

$theme-colors: () !default;
$theme-colors: map-merge(
  (
    'primary': $primary,
    'secondary': $secondary,
    'success': $success,
    'info': $info,
    'warning': $warning,
    'danger': $danger,
    'light': $light,
    'dark': $dark,
  ),
  $theme-colors
);

$theme-colors: map-merge(
  $theme-colors,
  (
    'primary': $primary,
    'tertiary': #e059c3,
    'sisa': #25a1a1,
  )
);

$sidebar: 280px;
$header: 60px;
$footer: 40px;
$breadcrumb: 40px;
$filter: 280px;

@import '~bootstrap/scss/bootstrap';

$title-font-sizes: (
  page-title: 1.25rem,
  content-title: 1.125rem,
  mini-title: 1.1rem,
) !default;

$display-font-weight: 500 !default;
$display-line-height: $headings-line-height !default;

@each $display, $font-size in $title-font-sizes {
  .sisa-#{$display} {
    font-size: #{$font-size} !important;
    font-weight: $display-font-weight;
    line-height: $display-line-height;
  }
}

.master-main {
  height: 100vh;
  width: 100vw;
  .sidebar {
    width: $sidebar;
    height: 100%;
    background: $primary;
    float: left;
    display: inline-block;
  }
  .header {
    width: calc(100% - #{$sidebar} - #{$spacer} * 6);
    height: $header;
    margin-left: calc(#{$sidebar} + #{$spacer} * 3);
    background: $gray-600;
  }
  .breadcrumb-content {
    width: calc(100% - #{$sidebar} - #{$spacer} * 6);
    height: $breadcrumb;
    margin-left: calc(#{$sidebar} + #{$spacer} * 3);
    // margin-top: calc(#{$spacer});
    background: $gray-300;
    margin-top: calc(#{$spacer} * 1);
  }
  .main-content {
    width: calc(100% - #{$sidebar} - #{$spacer} * 6);
    height: calc(
      100% - #{$header} - #{$footer} - #{$breadcrumb} - #{$spacer} - #{$spacer} *
        3
    );
    margin-top: $spacer * 3;
    margin-left: calc(#{$sidebar} + #{$spacer} * 3);
    background: $gray-400;
  }
  .footer {
    width: calc(100% - #{$sidebar} - #{$spacer} * 6);
    height: $footer;
    margin-left: calc(#{$sidebar} + #{$spacer} * 3);
    // margin-top: calc(#{$spacer});
    background: $gray-600;
  }
}
.sub-main-content {
  height: 100%;
  width: 100%;
  overflow: auto;
}

.header p,
.footer p,
.sidebar p,
.breadcrumb-content p,
.sub-main-content p {
  font-size: 18px;
  text-align: center;
  vertical-align: center;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.sub-main-content p span {
  position: absolute;
  top: 1234px;
}
